@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body,
  #root {
    @apply h-full w-full antialiased bg-black;
  }
}

.shaka-text-container {
  background: transparent !important;
  font-size: 32px;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.shaka-text-container > div {
  background: transparent;
}

.shaka-text-container > div span {
  background: transparent !important;

  line-height: normal;
  font-weight: normal;
  color: #ffffff;
  text-shadow: #000000 0px 0px 7px;
  font-weight: bolder;
}

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none;
}

.MuiSlider-root {
  color: #ffffff !important;
}

.MuiSlider-colorPrimary {
  color: #ffffff !important;
}

.MuiSlider-thumb {
  color: #ffffff !important;
}

.MuiSlider-thumb:hover {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border: 2px solid #ffffff !important;
  box-shadow: none !important;
}

.MuiSlider-marked {
  color: #ffffff !important;
}

.MuiMenu-paper {
  position: absolute !important;
  background-color: transparent !important;
  color: #ffffff !important;
  border: none !important;
  box-shadow: none !important;

}
